
.parallax-container {
     height: 350px;
     padding-bottom: 0;
   }

footer.page-footer {
  margin-top: 0px;
}

.modal {
  max-height: 90%;
  margin-top: 1%;
}

.modal-form-row {
  margin-bottom: 0px;
}

body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/alaskaMountains.jpg");
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('../images/alaskaMountains.jpg');
}

#map {
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://wallpaper.zone/img/5483851.jpg");
}

#slide {
  padding-top: 45%;
}

  main {
    flex: 1 0 auto;
  }
