
.parallax-container {
     height: 350px;
     padding-bottom: 0;
   }

footer.page-footer {
  margin-top: 0px;
}

.modal {
  max-height: 90%;
  margin-top: 1%;
}

.modal-form-row {
  margin-bottom: 0px;
}

body {
  height: 100%;
  width: 100%;
  /*background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("../images/alaskaMountains.jpg");*/
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /*background-image: url('../images/alaskaMountains.jpg');*/
}


#map {
  background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("http://wallpaper.zone/img/5483851.jpg");
  width: 100%;
  height: 500px;
  background-color: grey;
}

#slide {
  padding-top: 45%;
}

  main {
    flex: 1 0 auto;
  }

#search-row{
  margin-top: 10%;
  margin-left: 19%;
}

#btn {
  margin-top: 3%;
}
#container{
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
  height: 100%;
  padding-bottom: 20px;
}

.btn-row {
  margin-top: 50px;
}
.info {

}

.images{

}

.autocomplete-content{
  position: absolute;
  width: 28%;
}

.divider{
  margin-bottom: 5px;
}
