/** {
  border: red solid 3px;
}*/


.parallax-container {
     height: 600px;
     padding-bottom: 0;
   }
footer.page-footer {
  margin-top: 0px;
}

.modal {
  max-height: 90%;
}

.modal-form-row {
  margin-bottom: 0px;
}
