
.parallax-container {
     height: 350px;
     padding-bottom: 0;
   }

footer.page-footer {
  margin-top: 0px;
}

.modal {
  max-height: 90%;
  margin-top: 1%;
}

.modal-form-row {
  margin-bottom: 0px;
}
