
.parallax-container {
     height: 650px;
     padding-bottom: 0;
   }

footer.page-footer {
  margin-top: 0px;
}

.modal {
  max-height: 90%;
  margin-top: 1%;
}

.modal-form-row {
  margin-bottom: 0px;
}

body {
  height: 100%;
  width: 100%;
  /*background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("../images/alaskaMountains.jpg");*/
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /*background-image: url('../images/alaskaMountains.jpg');*/
}


#map {
  margin-top: 30px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("http://wallpaper.zone/img/5483851.jpg");
  width: 100%;
  height: 500px;
  background-color: grey;
}


main {
    flex: 1 0 auto;
  }

#btn {
  margin-top: 3%;
}

#container{
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));

}


.btn-row {
  margin-top: 50px;
}

.autocomplete-content{
  position: absolute;
  width: 18%;
}

.divider{
  margin-bottom: 5px;
}

.pad {
  padding-top: 2%;
}

.searchButton {
  margin-bottom: 3%;
}
